

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <!-- we remove this line because in the controller we got the user that can create a restaurant, look
      at the restaurant controller 'create method' with current_user
    <%= f.association :user %>
  -->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
